
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #292929;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #e9e9e9;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  padding: 3rem 0;
}

a {
  color: #292929;
  text-decoration: none;
  cursor: pointer;
  transition: .2s ease;
}

a:hover, a:visited:hover {
  color: #7e7e7e;
}

a:active {
  color: #ffad14;
}

a:visited {
  color: #8179ad;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.5rem;
background-color: rgb(209, 209, 209);
}

header img {
  width: 300px;
}

header div, nav, nav a, header a img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

form, button {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a:visited {
  color: unset;
}

header input, header button {
  border: none;
  padding: .5rem;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

header button {
  padding: .65rem;
  cursor: pointer;
}

input::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}

.page {
  padding: 1rem;
}